In [1]:
"""
Meng-import beberapa library dari bahasa pemrograman python yang bertujuan untuk melakukan
tahap pembagian data menjadi training dan testing, normalisasi data serta pemodelan dengan beberapa Algoritma Machine Learning
"""
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use("fast")
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix, classification_report

In [2]:
# Memanggil file dataset yang telah dilakukan proses preprocessing dan disimpan di dalam variabel DataFrame baru
data_modelling = pd.read_csv("../Dataset/Patient Treatment Data after Preprocessed.csv")

data_modelling.head(13)

,Hematocrit,Hemoglobin,Erythrocyte,Leucocyte,Thrombocyte,Mch,Mchc,Mcv,Age,Sex,Status
0,35.1,11.8,4.65,6.3,310,25.4,33.6,75.5,1,0,1
1,43.5,14.8,5.39,12.7,334,27.5,34.0,80.7,1,0,1
2,33.5,11.3,4.74,13.2,305,23.8,33.7,70.7,1,0,1
3,39.1,13.7,4.98,10.5,366,27.5,35.0,78.5,1,0,1
4,30.9,9.9,4.23,22.1,333,23.4,32.0,73.0,1,1,1
5,34.3,11.6,4.53,6.6,185,25.6,33.8,75.7,1,1,1
6,31.1,8.7,5.06,11.1,416,17.2,28.0,61.5,1,0,1
7,40.3,13.3,4.73,8.1,257,28.1,33.0,85.2,1,0,1
8,33.6,11.5,4.54,11.4,262,25.3,34.2,74.0,1,0,1
9,35.4,11.4,4.80,2.6,183,23.8,32.2,73.8,1,0,1
10,33.7,11.5,4.57,13.2,322,25.2,34.1,73.7,1,1,1
11,54.0,16.6,7.61,10.0,88,21.8,30.7,71.0,1,0,0
12,31.7,10.4,4.91,9.7,348,21.2,32.8,64.6,1,1,0